<!DOCTYPE html>
<html>
<head>
    <title>Images</title>
    <style type="text/css">
        .holder {
            width: auto;
            display: block;
        }

        .holder img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
